html
	head
	body
		div
			h1(data-html='colors') Hello World
			h2 Goodbye World
			| test
			ul
				| test
				li 1
				| test
				li 2 
				| test
				li 3
		ul(data-simplerepeat='something:somethings' data-simplebindattrs='style:somethingElse.something')
			li(data-simplebind='something.thing')
				a(data-simplebindattrs='href=something.url' data-simplebind='something.text')
				span I live here.